/*: ------------------------------ mobile device ----------------------------- */
@media screen and (max-width: 576px) {
	nav,
	nav ul {
		flex-direction: column;
	}

	nav ul li {
		margin-bottom: 30px;
	}
	/*: ------------------------------- navbar ends ------------------------------ */

	.play-like-section {
		flex-direction: column-reverse;
		margin: 0 20px;
		background-image: none;
	}

	.play-like-title {
		font-size: 1.5rem;
	}

	.play-like-goat {
		font-size: 3rem;
	}

	.play-like-content {
		align-items: center;
		padding: 30px;
	}

	.play-like-content p {
		font-size: 0.8rem;
		margin: 10px auto 20px;
	}

	.play-like-section .primary-btn {
		font-size: 1rem;
		padding: 10px 20px;
	}

	.play-like-section .sign-in-btn {
		margin-right: 0;
	}

	.play-like-content,
	.play-like-image {
		width: 90%;
		margin-bottom: 10px;
	}
	/*: ------------------------- play like section ends ------------------------- */

	.play-like-section {
		margin-top: 50px;
	}

	.games-card-container {
		grid-template-columns: 1fr;
	}

	.card-item {
		padding: 0 30px;
	}

	.item-3 {
		width: 100%;
	}

	.section-title {
		font-size: 2rem;
	}
	/*: ------------------ online games section style ends here ------------------ */

	.play-instantly-section {
		flex-direction: column;
		align-items: end;
	}

	.play-instantly-content {
		width: 100%;
	}

	.play-instantly-content > .text-content {
		width: 100%;
		text-align: center;
	}

	.play-instantly-img-container {
		width: 70%;
		margin-right: 30px;
	}
}
/*: ------------------ Play Instantly section style ends her ----------------- */
