/*: --------------------- work sans font from google font -------------------- */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

/*: ------------------------ shared style starts here ------------------------ */
* {
	font-family: "Work Sans", sans-serif;
	box-sizing: border-box;
}

.max-width {
	max-width: 1400px;
	margin: 0 auto;
}

.half-max-width {
	width: 50%;
	max-width: 700px;
}

.primary-color {
	color: #ff42a5;
}

.nav-title {
	color: #0b0223;
	font-size: 2.8rem;
	font-weight: 700;
	margin: 0;
}

.section-title {
	font-size: 3rem;
	font-weight: 700;
	margin: 0;
}

.section-description {
	color: #534c64;
	font-size: 1rem;
	font-weight: 400;
}

.linear-gradient-text {
	background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.primary-btn {
	color: #fff;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 21px 40px;
	border: none;
	border-radius: 48px;
}

.sign-in-btn {
	background: linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%);
	margin-right: 24px;
}
/*: ------------------------- shared style ends here ------------------------- */

/*: -------------------- navbar style starts here ------------------- */
.navbar {
	margin-bottom: 8px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-icon-title {
	display: flex;
	align-items: center;
	gap: 1.25rem;
}

.nav-icon-title img {
	width: 80px;
	height: 40px;
}

nav ul {
	display: flex;
	align-items: center;
}

nav li {
	list-style: none;
	font-size: 1.1rem;
	font-weight: 500;
	margin-right: 32px;
}

nav li a {
	text-decoration: none;
	color: #3c354f;
}

nav .follow-us {
	border-radius: 8px;
	background-color: rgba(11, 2, 35, 0.1);
	padding: 17px 24px;
	margin-right: 8px;
}

.follow-us .fa-brands {
	margin-left: 8px;
}

.follow-us .fa-youtube {
	color: red;
}
/*: ------------------------- navbar style ends here ------------------------- */

/*: ------------------- play-like-section style starts here ------------------ */

.play-like-section {
	display: flex;
	justify-content: center;
	background-image: linear-gradient(
		to bottom,
		rgba(219, 216, 216, 0.178),
		rgba(233, 233, 233, 0.089)
	);
}

.play-like-content {
	background-image: url("/images/Group\ 14.png");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 8px;
}

.play-like-title {
	color: #0b0223;
	font-size: 3rem;
	font-weight: 600;
	margin: 0;
}

.play-like-goat {
	font-size: 6rem;
	font-weight: 800;
}

.play-like-content p {
	margin-top: 0;
	margin-bottom: 17px;
}

.go-rogue-btn {
	background-color: #4ec5f7;
}

.play-like-image {
	display: flex;
	justify-content: end;
	align-items: center;
}

.play-like-image img {
	width: 90%;
}
/*: -------------------- play-like-section style ends here ------------------- */

/*: ----------------- online games section style starts here ----------------- */
.online-games-section {
	margin: 100px auto;
	text-align: center;
}

.games-card-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 24px;
	margin-top: 30px;
}

.card-item {
	border-radius: 16px;
}

.card-item img {
	width: 100%;
	height: auto;
}

.card-img-caption {
	color: #534c64;
	font-size: 1.25rem;
	font-weight: 500;
}

.item-3 {
	position: relative;
	width: 100%;
}

.hover-content {
	visibility: hidden;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.item-3:hover .hover-content {
	visibility: visible;
}

.item-3:hover img {
	filter: brightness(40%);
}

.item-3:hover .item-3-img {
	border-radius: 16px;
	border: 4px solid #ff42a5;
}

.item-3:hover {
	cursor: pointer;
}

.hover-content .fa-solid {
	color: #fff;
	font-size: 2rem;
}

.hover-content .watch-now {
	color: #ff42a5;
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 1rem;
}
/*: ------------------ online games section style ends here ------------------ */

/*: ---------------- Play Instantly section style starts here ---------------- */
.play-instantly-section {
	text-align: center;
	display: flex;
}

.play-instantly-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.play-instantly-content > .text-content {
	width: 50%;
	text-align: right;
}

.play-img-container {
	position: relative;
	width: 100%;
}

.play-instantly-img-container img {
	width: 100%;
}

.play-instantly-img-container .small-size {
	position: absolute;
	width: 50%;
	top: 55%;
	right: 70%;
}
/*: ------------------ Play Instantly section style ends her ----------------- */

/*: ----------------- button group section style starts here ----------------- */
.button-group-section-bg {
	margin-top: 100px;
	padding: 100px 0;
	background: linear-gradient(
		90deg,
		rgba(255, 66, 165, 0.03) 13.13%,
		rgba(255, 66, 165, 0.03) 87.94%
	);
}

.button-group-section {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 27px;
}

.button-item {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 5px;
	border-radius: 50px;
	background: #fff;
	/* width: 100%; */
}

.button-item:hover {
	border: 1.5px solid #ff42a5;
	color: #ff42a5;
	cursor: pointer;
}
/*: ------------------ button group section style ends here ------------------ */

/*: ------------------------ footer style starts here ------------------------ */
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 600px;
	background: #0b0223;
	color: #fff;
	text-align: center;
}

.footer .nav-icon-title {
	margin-bottom: 30px;
}

.footer .nav-title {
	color: #fff;
}

.footer-description {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 60px;
}

.footer .description {
	font-size: 1.25rem;
	font-weight: 600;
}

.clickable-button-group {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-top: 30px;
}

.clickable-button-group .fa-brands {
	color: #ffffff;
	font-size: 2rem;
}

.clickable-button-group a {
	text-decoration: none;
}

.footer .terms-conditions {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 60px;
	margin-top: 30px;
}

.footer .terms {
	color: rgba(255, 255, 255, 0.6);
	font-size: 1rem;
	font-weight: 500;
}

.break {
	display: none;
}
/*: ------------------------- footer style ends here ------------------------- */
